/* --------------------------------
Variables 
-------------------------------- */


:root {
  --font-primary :'Gotham';
  --font-book : 'GothamBook';

  --header-size: 22px;
  --footer-size:9px;

  --calendar-date: 15px;
  --calendar-days: 12px;  

  --stats-day:18px;
  --stats-prog:38px;
  --stats-days:11px;
  --stats-card-title:9px;
  --stats-card-prog:18px;
  --stats-card-num:11px;

  --slot-title:18px;
  --slot-subtitle:11px;
  --slot-body:13px;

  --collapsed-slot: 13px !important;
}





/* -------------------------------- 

xBackground 

-------------------------------- */
body {
  /* this is the page background */
  background-color: #ffffff;
  font-family: "Gotham","Open Sans", sans-serif !important;
}

/*font*/
@font-face {
  font-family: "Gotham";
  src: url("../assets/font/GothamHTF-Light_0.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/font/GothamHTF-Medium_0.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/font/GothamHTF-Bold_0.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/font/GothamHTF-Black_0.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/font/GothamHTF-Ultra_0.otf");
  font-weight: 700;
}


@font-face {
  font-family: "GothamBook";
  src: url("../assets/font/GothamHTF-Book_0.otf")
}





/* -------------------------------- 

xNavigation 

-------------------------------- */
header {
  background-color: #000000;
}

.cd-logo {
  /* logo box style */
  background-color: white;
  width: 120px;
}
@media only screen and (min-width: 1024px) {
  .cd-logo {
    width: 180px;
  }
}

.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #19191a;
}
.cd-main-nav li a {
  color: #ffffff;
  border-color: #262627;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav li a {
    color: #7d7d82;
  }
  .cd-main-nav li a.selected {
    color: #ffffff;
    box-shadow: 0 2px 0 #5f8ee4;
  }
  .no-touch .cd-main-nav li a:hover {
    color: #ffffff;
  }
}

.cd-nav-trigger span {
  /* hamburger menu */
  background-color: #ffffff;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines */
  background-color: #ffffff;
}

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
  /* preserve visibility of upper and lower lines - close icon */
  background-color: white;
}

.cd-download {
  /* download button top-right visible on big devices */
  background-color: #323234;
}
.no-touch .cd-download:hover {
  background-color: #3f3f41;
}
.cd-download span {
  /* tooltip */
  background: #5f8ee4;
  color: #ffffff;
}
.cd-download span::before {
  /* right arrow color */
  border-color: #5f8ee4;
}

/* -------------------------------- 

xPage title 

-------------------------------- */
main > h1 {
  color: #19191a;
}
@media only screen and (min-width: 1600px) {
  main > h1 {
    /* title goes into the header on big devices */
    color: #ffffff;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1, h2 {
  font-family: var(--font-primary),"Open Sans", sans-serif;
  color: #19191a;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: silver;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #58585b;
}
p a {
  color: #5f8ee4;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}





.margin-top-bottom{
  margin: 20px 0px
}
.center{ text-align: center }


/* -------------------------------- 

xButtons 

-------------------------------- */
.btn {
  width: 210px;
  height: 27px;
  font-size: 13px !important;
  font-weight: 500;
  border: none;
  box-shadow: none;
  font-family: var(--font-primary),"Open Sans", sans-serif;
  color: #ffffff;
  cursor: pointer;
  background: #000000;
  margin: 0px !important;
  line-height: 8px;
}
.btn:focus {
  outline: none;
}
.no-touch .btn:hover {
  background: #0000009c;
}
.btn.btn-success {
  background: #5f8ee4;
}
.no-touch .btn.btn-success:hover {
  background: #497fe0;
}
.btn.btn-alert {
  background: #e4655f;
}
.no-touch .btn.btn-alert:hover {
  background: #e87a75;
}
.btn.btn-outline {
  color: #000000;
  background: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 2px #000000;
  -moz-box-shadow: inset 0px 0px 0px 2px #000000;
  box-shadow: inset 0px 0px 0px 2px #000000;
  border-radius: 0px
}
.no-touch .btn.btn-outline:hover {
  color: #ffffff;
  background: #0000009c;
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 1.1rem;
  }
}

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: #5f8ee4;
}

/* -------------------------------- 

xIcons 

-------------------------------- */
.cd-icons li {
  /* icons size */
  width: 32px;
  height: 32px;
}

/* -------------------------------- 

xForm 

-------------------------------- */
/*input[type=text], select {
  border: 1px solid #e6e6e6;
  border-radius: .25em;
  background: #ffffff;
}*/
input[type=text]:focus, select:focus {
  outline: none;
}

input[type=text] {
  padding: 0.3em 1.2em;/*
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);*/
}
input[type=text].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}
input[type=text].alert {
  border-color: #e4655f;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}
input[type=text]:focus {
  border-color: #5f8ee4;/*
  box-shadow: 0 0 6px rgba(95, 142, 228, 0.2);*/
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.radio-label,
.checkbox-label {
  padding-left: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-label::before, .radio-label::after,
.checkbox-label::before,
.checkbox-label::after {
  /* custom radio and check boxes */

  content: '';
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.radio-label::before,
.checkbox-label::before {
  left: 0;
  border: 1px solid #e6e6e6;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}
.radio-label::after,
.checkbox-label::after {
  
  left: 3px;
  /*background: url("../assets/form/icon-check.svg") no-repeat center center;*/
  display: none;
}

.radio-label::before {
  border-radius: 50%;
}

.checkbox-label::before {
  border-radius: 23px;
  border: #ababab 1px solid;
}

input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
  cursor: pointer;
  background-color: #19191a;
  border: none;
  box-shadow: none;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
  display: block;
}

.cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/form/icon-select.svg") no-repeat center center;
  pointer-events: none;
}

select {
  position: relative;
  padding: .6em 2em .6em 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* -------------------------------- 

xBasic style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary),"Merriweather", serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea, select {
  font-family: var(--font-primary),"Merriweather", serif;
  font-size: 1.6rem;
}

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
header nav {
  display: inline-block;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 80px;
  }
  header:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative;
}
.cd-logo img {
  width: 100px;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media only screen and (min-width: 1600px) {
  .cd-logo {
    margin-left: 5%;
  }
}

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span {
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-nav li a {
  display: block;
  font-size: 1.8rem;
  padding: 1em 0;
  border-bottom-width: 1px;
  border-style: solid;
}
.cd-main-nav li:first-of-type a {
  border-top-width: 1px;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav {
    position: static;
    display: table;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    width: auto;
    height: 80px;
    background: transparent;
    padding: 0 2em;
    text-align: left;
  }
  .cd-main-nav li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
  }
  .cd-main-nav li a {
    display: inline-block;
    font-size: 1.6rem;
    padding: .4em .2em;
    border-bottom: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .cd-main-nav li:first-of-type a {
    border-top: none;
  }
}
@media only screen and (min-width: 1600px) {
  .cd-main-nav {
    display: none;
  }
}

.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.nav-is-visible .cd-main-nav {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-download {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  background-image: url("../assets/icon-download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-download span {
  /* tooltip */
  position: absolute;
  right: 120%;
  top: 50%;
  margin-top: -20px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  -webkit-transition: opacity .2s 0s, visibility 0s .2s;
  -moz-transition: opacity .2s 0s, visibility 0s .2s;
  transition: opacity .2s 0s, visibility 0s .2s;
}
.cd-download span::before {
  /* right arrow */
  content: '';
  position: absolute;
  top: 12px;
  left: 100%;
  height: 0;
  width: 0;
  border-width: 8px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.no-touch .cd-download:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .2s 0s, visibility 0s 0s;
  -moz-transition: opacity .2s 0s, visibility 0s 0s;
  transition: opacity .2s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 1024px) {
  .cd-download {
    display: block;
  }
  .cd-download span {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (min-width: 1600px) {
  .cd-download {
    right: 5%;
  }
}

main {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}
main > h1 {
  text-align: center;
  margin: 3em 0;
}
@media only screen and (min-width: 1024px) {
  main {
    padding-top: 80px;
  }
}
@media only screen and (min-width: 1600px) {
  main {
    max-width: none;
    padding: 120px 0 50px;
  }
  main > h1 {
    position: fixed;
    top: 0;
    left: 50%;
    height: 80px;
    line-height: 80px;
    width: 400px;
    margin: 0 0 0 -200px;
    font-size: 2.6rem;
    z-index: 20;
  }
}

section {
  margin: 3em 0;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
section:nth-of-type(1) h2::before {
  content: '1. ';
}
section:nth-of-type(2) h2::before {
  content: '2. ';
}
section:nth-of-type(3) h2::before {
  content: '3. ';
}
section:nth-of-type(4) h2::before {
  content: '4. ';
}
section:nth-of-type(5) h2::before {
  content: '5. ';
}
section:nth-of-type(6) h2::before {
  content: '6. ';
}
section:nth-of-type(7) h2::before {
  content: '7. ';
}
section:nth-of-type(8) h2::before {
  content: '8. ';
}
section:nth-of-type(9) h2::before {
  content: '9. ';
}
section:nth-of-type(10) h2::before {
  content: '10. ';
}
section:nth-of-type(12) h2::before {
  content: '12. ';
}
section:nth-of-type(13) h2::before {
  content: '13. ';
}
section:nth-of-type(14) h2::before {
  content: '14. ';
}
section:nth-of-type(15) h2::before {
  content: '15. ';
}
section:nth-of-type(16) h2::before {
  content: '16. ';
}
@media only screen and (min-width: 768px) {
  section {
    margin: 3em 0 5em;
  }
}
@media only screen and (min-width: 1600px) {
  section {
    width: 48%;
    float: left;
    margin: 0 4% 4em 0;
  }
  section:nth-of-type(2n) {
    margin-right: 0;
  }
}

/* xBranding section - basic style */
.cd-branding .cd-box {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0, 0, 0, 0.02);
  margin-bottom: 1em;
}
.cd-branding img {
  display: block;
  width: 100%;
}
.cd-branding ul:last-of-type {
  padding-top: .6em;
}
.cd-branding ul:last-of-type li {
  display: inline-block;
  margin-right: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(1) img {
  width: 90px;
  height: 90px;
  border-radius: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(2) img {
  width: 60px;
  height: 60px;
  border-radius: .6em;
}
.cd-branding ul:last-of-type li:nth-of-type(3) img {
  width: 32px;
  height: 32px;
  border-radius: .4em;
}
.cd-branding ul:last-of-type li:nth-of-type(4) img {
  width: 16px;
  height: 16px;
  border-radius: .2em;
}
@media only screen and (min-width: 768px) {
  .cd-branding .cd-box {
    width: 49%;
    float: left;
    margin: 0 2% 2em 0;
  }
  .cd-branding .cd-box:nth-of-type(2n) {
    margin-right: 0;
  }
  .cd-branding ul:last-of-type {
    clear: left;
  }
  .cd-branding ul:last-of-type li {
    margin-right: 3em;
  }
}

/* xColor section - basic style */
.cd-colors li {
  text-align: center;
  width: 48%;
  float: left;
  margin: 0 4% 1em 0;
}
.cd-colors li:nth-of-type(2n) {
  margin-right: 0;
}
.cd-colors .cd-color-swatch {
  position: relative;
  width: 100%;
  padding: 50% 0;
}
.cd-colors .cd-color-swatch::before, .cd-colors .cd-color-swatch::after {
  /* lighter and darker color shades of the same swatch */
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 20%;
}
.cd-colors .cd-color-swatch::before {
  left: 0;
}
.cd-colors .cd-color-swatch::after {
  right: 0;
}
.cd-colors b {
  display: block;
  padding: .6em 0;
}

.cd-colors li:nth-of-type(1) .cd-color-swatch {
  background: #000000;
}
.cd-colors li:nth-of-type(1) .cd-color-swatch::before {
  background: #262627;
}
.cd-colors li:nth-of-type(1) .cd-color-swatch::after {
  background: #0d0d0d;
}


.cd-colors li:nth-of-type(2) .cd-color-swatch {
  background: #e6e6e6;
}
.cd-colors li:nth-of-type(2) .cd-color-swatch::before {
  background: #f3f3f3;
}
.cd-colors li:nth-of-type(2) .cd-color-swatch::after {
  background: #d9d9d9;
}


.cd-colors li:nth-of-type(3) .cd-color-swatch {
  background: #ffffff;
}
.cd-colors li:nth-of-type(3) .cd-color-swatch::before {
  background: white;
}
.cd-colors li:nth-of-type(3) .cd-color-swatch::after {
  background: #f2f2f2;
}


.cd-colors li:nth-of-type(4) .cd-color-swatch {
  background: #FF5709;
}
.cd-colors li:nth-of-type(4) .cd-color-swatch::before {
  background: #FF5709;
}
.cd-colors li:nth-of-type(4) .cd-color-swatch::after {
  background: #FF5709;
}

.cd-colors li:nth-of-type(5) .cd-color-swatch {
  background: #7F0FD3;
}
.cd-colors li:nth-of-type(5) .cd-color-swatch::before {
  background: #7F0FD3;
}
.cd-colors li:nth-of-type(5) .cd-color-swatch::after {
  background: #7F0FD3;
}


.cd-colors li:nth-of-type(6) .cd-color-swatch {
  background: #FF0975;
}
.cd-colors li:nth-of-type(6) .cd-color-swatch::before {
  background: #FF0975;
}
.cd-colors li:nth-of-type(6) .cd-color-swatch::after {
  background: #FF0975;
}


.cd-colors li:nth-of-type(7) .cd-color-swatch {
  background: #D80202;
}
.cd-colors li:nth-of-type(7) .cd-color-swatch::before {
  background: #D80202;
}
.cd-colors li:nth-of-type(7) .cd-color-swatch::after {
  background: #D80202;
}


.cd-colors li:nth-of-type(8) .cd-color-swatch {
  background: #696969;
}
.cd-colors li:nth-of-type(8) .cd-color-swatch::before {
  background: #696969;
}
.cd-colors li:nth-of-type(8) .cd-color-swatch::after {
  background: #696969;
}
@media only screen and (min-width: 768px) {
  .cd-colors li {
    width: 19%;
    float: left;
    margin: 0 1.25% 1em 0;
  }
  .cd-colors li:nth-of-type(2n) {
    margin-right: 1.25%;
  }
  .cd-colors li:nth-of-type(5n) {
    margin-right: 0;
  }
}

.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em;
}
@media only screen and (min-width: 768px) {
  .cd-typography .cd-box .cd-box,
  .cd-buttons .cd-box .cd-box,
  .cd-icons .cd-box .cd-box,
  .cd-form .cd-box .cd-box {
    padding: 2em;
  }
  
}





/* xTypography section - basic style */
/*.cd-typography h1:first-child::before {
  content: 'Aa - ';
  color: #5f8ee4;
}*/

.cd-buttons .cd-box:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cd-buttons .cd-box:last-of-type {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.cd-buttons button {
  margin: .4em;
}
@media only screen and (min-width: 1024px) {
  .cd-buttons button {
    margin: .4em;
  }
}

/* xIcons section - basic style */
.cd-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em;
}
.cd-icons .cd-icon-1 {
  background-image: url("../assets/icons/icon-p1.svg");
}
.cd-icons .cd-icon-2 {
  background-image: url("../assets/icons/icon-p2.svg");
}
.cd-icons .cd-icon-3 {
  background-image: url("../assets/icons/icon-p3.svg");
}
.cd-icons .cd-icon-4 {
  background-image: url("../assets/icons/icon-p4.svg");
}
.cd-icons .cd-icon-5 {
  background-image: url("../assets/icons/icon-p5.svg");
}
.cd-icons .cd-icon-6 {
  background-image: url("../assets/icons/icon-p6.svg");
}
.cd-icons .cd-icon-7 {
  background-image: url("../assets/icons/icon-chat-5.svg");
}
.cd-icons .cd-icon-8 {
  background-image: url("../assets/icons/icon-8.svg");
}



/* xForm section - basic style */
.cd-form input[type=text],
.cd-form .cd-input-wrapper {
  margin: 0.3em;
}
.cd-form .cd-input-wrapper {
  position: relative;
  display: inline-block;
}
.cd-form select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox */
  .cd-select::after {
    display: none;
  }
}
.no-csstransitions .cd-select::after {
  display: none;
}


/* -------------------------------- 

Branding 

-------------------------------- */

.cd-box.logos{
  border:none;
  height: 121px
}

.logos {
  text-align: center;
  border-radius: 3px;
  background: #ffffff;
  padding: 77px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.logos:hover{
  box-shadow: 0 2px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22) !important;
}

.sm-logo{
  padding: 61px;  
}

.sm-logo img{
  width: 100px;
  height: 69px;
  margin: 0 auto;
}

@media only screen and (min-width: 1068px){
  .sm-logo{
    padding: 66px;
  }
}
@media only screen and (min-width: 1600px){
  .sm-logo{
    padding: 60px;
  }
}

.cd-box {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #ffffff;
  padding: 30px !important;
}


/*Buttons*/
.btn-primary{
  border-radius: 0px
}




/* --------------------------------

Typography 

-------------------------------- */

.typeContainer{
  width: 100%
}

.typeContainer div div p{
  height: 36px;
}





/* --------------------------------

Icons

-------------------------------- */
.icon-anim{
  width: 20px;
  height: 50px;"
}




/* --------------------------------
Buttons
-------------------------------- */
.cd-input-wrapper > button {
  width:80px;
  border-radius: 4px !important;
}

.cd-input-wrapper label{
  margin-left: 4px
}




/* --------------------------------
Form
-------------------------------- */
input[type=text] {
  border: none;
  border-bottom: 2px solid #adafad !important;
}






/* --------------------------------

Avatar Structure

-------------------------------- */

.avatar {
  font-size: 20px;
  display: inline-block;
  background-color: #999999;
  margin: 0 auto;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  line-height: 31px;
  text-align: center;
  position: absolute;
  margin-left: 20px;
  font-weight: 600;
  color: #ffffff;
}

.avatar-img{
  background-image: url(../assets/img/lady.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 59px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-left: 20px;
}

.open {
  height: 40px;
  font-family: var(--font-primary),'Open Sans', sans-serif;
}
.roboto {
  height: 40px;
  font-family: 'Roboto', 'Roboto Medium', sans-serif;
}




/*Toggle*/

.form-switch {
  margin-left: 32px;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
 
.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}


.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
.form-switch input { display: none; }
.form-switch input:checked + i { background-color: #4BD763; }
.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }


/*Stats*/


.date-con{
  display: inline-block;
}

.day{
  height: 30px;
  text-align: center;
}

.day li{
  display: inline;
  font-size: 23px;
  color: white;
  font-weight: 600;
}

.numb{
  height: 30px;
  text-align: center;
}
.numb li{
  display: inline;
  font-size: 23px;
  color: white;
  font-weight: 600;
}


/* Date picker style*/

.cd-test .cd-box:first-child{
  padding:30px !important;
}



/*Plan Header*/
.flexContainer-dash{
  justify-content: space-between;
  display: flex;
  width: 414px;
  height: 116px;
  background-color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.flexContainer-dash img#setting{
  align-self: center;
  width: 24px;
  margin-left: 20px;
}

.flexContainer-dash img#avatar{
  align-self: center;
  width: 118px;
}

.avatar-dash{
  align-self: center;
  font-size: 16px;
  background-color: #776FB3;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  font-weight: 500;
  color: white;
  margin-right: 16px;
}



/*Tools Header*/

.flexContainer-tools {
  justify-content: space-between;
  display: flex;
  width: 414px;
  height: 66px;
  background-color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.path-left{
  align-self: center;
  margin-left: 20px;
  width: 9.79px;
  height: 17.261px;
}

.flexContainer-tools h3{
  align-self: center;
  font-size: var(--header-size);
  color: white;
}

.path-right{
  transform: rotate(178deg);
  align-self: center;
  margin-right: 20px;
  width: 9.79px;
  height: 17.261px;
}


.flexContainer {
  display: flex;
  justify-content: space-between;
  width: 414px;
  height: 124px;
  background-color: #000000;
  text-align: center;
  margin: 0 auto;
}

.flexContainer-date{
  display: flex;
  justify-content: space-between;
  width: 414px;
  height: 34px;
  background-color: #000000;
  text-align: center;
  margin: 0 auto;
}

.yearFlex {
  font-size: var(--calendar-date);
  display: inline-block;
  color: white;
  padding: 16px 16px 0 16px;
  float: left;
}

.rec{
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
  height: 86px;
  width: 336px;
  margin-bottom: 20px;
}


.recCon{  
  justify-content: space-between;
  display: flex;
}

.recCon > li  {
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding-top: 7px;
  margin-bottom: 5px;
  background-color: transparent;
}

.numbers{
  font-size: var(--header-size);
  font-weight: bold;
  text-align: center;
  font-family: var(--font-primary);
  height: 30px;
  color: #ffffff;
  width: 30px;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-top: 5px;
}
.days {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  font-family: var(--font-primary);
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  padding-top: 7px;
  margin: 0 auto;
}

.Path_1 {
  margin-left: 12px;
  justify-content: center;
  align-items: center;
  align-self: center;
  transform: matrix(1,0,0,1,0,0);
  width: 9.79px;
  height: 17.261px;
}
.Path_2 {
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 15px;
  align-self: center;
  transform: rotate(180deg);
  width: 10.386px;
  height: 17.592px;
}
 #Path_1 {
  fill: transparent;
  stroke: rgb(186, 186, 186);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
  #Path_2 {
  fill: transparent;
  stroke: rgb(186, 186, 186);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}

.setting-path{
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 15px;
  align-self: center;
  transform: rotate(180deg);
  width: 10.386px;
  height: 17.592px;
  top: 2px;
}

#setting-path{
  fill: transparent;
  stroke: rgb(186, 186, 186);
  stroke-width: 1.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}


  

.whiteCircle{
  border-radius: 50%;
  background-color: white;
  color: black;
  padding: 8px 7px 0px 7px;
  margin-top: 0px;
  width: 40px;
  height: 40px;
}



/*Time Picker*/

.flexDateContainer {
  width: 382px;
  height: 124px;
  text-align: center;
  margin: 0 auto;
}

.recHC{
  margin: 0 auto;
  overflow: hidden;
  height: 62px;
  width: 382px
}

.recH{ 
  display: flex;
  flex-wrap: nowrap;
}

.hour{
  letter-spacing: 0.1px;
  font-family: GothamBold;
  margin-bottom: 3px;
  font-size: 13px;
}

.dot{
  background-color: black;
  margin-left: 8px;
  margin-top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}


.recH > li {
  flex: 1;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 59px;
  height: 59px;
  border-radius: 30px;
  padding: 16px;
  color: #696969;
  background-color: transparent;
}

/*Footer*/


.flexFooterContainer{
  background-color: #000000;
  width: 414px;
  height: 89px;
  text-align: center;
  margin: 0 auto;
}

.FooterContainer{
  margin: 0 auto;
  overflow: hidden;
  height: 89px;
  width: 414px;
}

.recFooter li img{
  width: 22px;
  height: 22px;
}

.recFooter{  
  height: 89px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

.recFooter > li {
  flex-direction: column;
  flex: 0;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  color: rgba(118,118,118,1);
  background-color: transparent;
}

.footerTitle{
  margin-top: 3px;
  font-size: var(--footer-size);
  font-weight: 600;
  letter-spacing: 0.3px;
}




/*Stats Card*/

.stats-font > div {
  margin: 10px 0px;
}


.stats-font{
  display: inline-block;
}

.stats.day{
  font-size:17.6px;
  letter-spacing:0.5px;  
}

.stats-day{
  font-size: var(--stats-day-size);
  font-weight: 200;
}

.stats-progress{
  font-size: var(--stats-prog-size);
  font-family: var(--font-book);
  letter-spacing: 0.2px;
  color: #FF0975;
}

.stats-perc{
  font-family: GothamBold;
  font-size: 28.6px;
  color: #696969;
}

.stats-days{
  color: #696969;
  font-size: var(--stats-days);
}

#stats-container{
  position: relative;
  width: 186.3px;
  height: 107px;
  box-sizing: border-box;
  background: #E5E5E5;
  background-color: rgba(255,255,255,1);
  margin:0 auto;
  padding: 0;
}

#stats .cd-box{
  text-align: center;
}

.rectangle{
  border: solid 1px #f1f1f1;
  position: absolute;
  overflow: visible;
  width: 186.3px;
  height: 97px;
  padding: 10px 20px 15px 20px;
  margin: 5px 0px;
}


.selected-stat{
  color: white;
}

#effort{
  margin-bottom: 10px;
  font-size: var(--)
  letter-spacing: 0.5px;
  font-weight: 300;
  text-align: center;
}

#low{
  width: 100%;
  height: 49px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}


.low-content{
  font-size: 17.6px;
  z-index: 1;
  position:absolute;
  left:0;
}

.low-word {
  font-family: var(--font-book);
  letter-spacing: 0.5px;
  font-size: var(--stats-card-prog);
}

#low-number{
  float: left;
  letter-spacing: 0.5px;
  font-size: var(--stats-card-num);
  font-family: var(--font-book);
}

.graph-content{
  height: 49px;
  width: 82px;
  position: absolute;
  right: 0;
}

.graph-1{
  overflow: visible;
  position: absolute;
  width: 35.502px;
  height: 40.009px;

}
.graph-2{
  position: absolute;
  top: 0;
  left: 30.094px;
  width: 32.13px;
  height: 7.711px;
}

 #Line_1 {
    fill: transparent;
    stroke: rgb(255, 0, 107);
    stroke-width: 4px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }
 #Line_2 {
    fill: transparent;
    stroke: rgb(255, 0, 107);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
  }



/*Tool Cards*/
.tool-p{
  margin-bottom: 20px;
}
.hero-image{ 
  align-items: flex-start;
  display: flex;
  border: solid 1px #f1f1f1;
  margin: 0 auto;
  background-image: url(../assets/img/card.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 414px;
  height: 142px;
}

.hero-text {
  width: 60%;
  text-align: left;
  margin-top: 13px;
  margin-left: 19px;
  flex-direction: column;
}

.hero-text h1{ 
  font-weight: 200;
  margin-bottom: 2px;
  color: #000000;
  font-size: var(--slot-title);
  letter-spacing: 0.5px;
}

.hero-title{
  font-weight: 200;
  color: #696969;
  font-size: var(--slot-subtitle);
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

.hero-p{
  flex-grow: 0;
  display: inline;
  font-size: var(--slot-body);
  line-height: 0px;
  width: 65%;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #000000;
}


/*Plan Card*/

.plan-container{
  text-align: center;
  margin-b
}

.plan-text{
  margin-left: 53px;
}

.plan-circle{
  left: 16px;
  top: 16px;
  font-size: 13.2px;
  display: inline-block;
  background-color: #000000;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  position: absolute;
  font-weight: 400;
  color: white;
  align-items: center;
  margin-right: 12px;
}


.plan-collapse{
  display: inline-table;
  width: 414px;
  height: 124px;
  border: solid 1px #f1f1f1;
  border-bottom: solid 2px #c4c4c42e;
}

.plan-collapse h3{
  font-size: var(--collepsed-slot);
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.1px;
}

.collapse-box{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}
.child-box {
  margin: 0 auto;
  width: 87%;
  height: 37px;
  padding-top:10px;
  border-bottom: 1px solid #f3f3f3;
  font-size: var(--slot-body);
}


.box-left{
  display: inline-block;
  float: left;
  color:#B7B7B7;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.1px
}

.box-right{  
  display: inline-block;
  float: right;
  font-weight: 600;
  color: #696969;
  letter-spacing: 0.1px;
}

.underline{
  color: #1FBAFF;
  text-decoration-line: underline;
  font-size: 15.4px;
  letter-spacing: 0.1px
}

.plan-image{
  border-bottom: solid 2px #c4c4c42e;
}

.plan-text{
  margin-left: 53px;
}

/*.child-box > button{
  width: 170px;
  height: 27px;
  border-radius: 0px;
  padding: 0;
}*/

.child-box button:first-child{
  float: left;
}
.child-box button:last-child{
  float: right;
}

.box-right .triangle {
  margin-left: 10px;
  top: -3px;
  left: 0;
  transform: rotate(-120deg) skewX(-30deg) scale(1,.866);
  display: inline-block;
  background-color: #696969;
}

.box-right .triangle, .box-right .triangle:before, .box-right .triangle:after {
  width: 0.3em;
  height: 0.3em;
}

.plan-btn{
  color: #000000;
  background: white;
  border: #000000 2px solid;
  width: 45%;
  height: 30px;
  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 0.1px;
}

.plan-btn-container{
  margin-top: 20px;
  margin-bottom: 15px;
  border-bottom: 25px;
  flex-direction: row;
  align-items: center;
  font-size: 15.4px;
}


/*Chat*/

.chat-logo{
  align-self:center;
  margin-top: 7px;
}

.chat-image{ 
  border: solid 1px #f1f1f1;
  margin: 0 auto;
  width: 414px;
  height: 124px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.chat-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  position: relative;
}

.chat-text img {
  align-self: center;
  width: 27px;
  height: 24px;
  margin-right: 29px;
  margin-left: 3px;
}

.chatCol h1{  
  color:#666662;
  margin-bottom: 10px;
}

.chat-icon {
  float: right;
  margin-right: 6px;
  margin-top: 12px;
  width: 22px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/icon-chat-5.svg);
  position: relative;
}

.chatCol{
  margin-left: -50px;
  align-self: center
}

.chat-dot{
  z-index: 66666;
  align-self: center;
  display: inline-block;
  background-color: #999999;
  margin-left: 8px;
  margin-bottom: 5px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.chat-avatar{
  background-image: url(../assets/img/lady.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 106px;
  align-self: center;
  border-radius: 75px;
  width: 43px;
  height: 43px;
  line-height: 84px;
  margin-right: 29px;
}

.chat-team{
  flex: 1;
  font-size: 19.8px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #B7B7B7;
}

.chat-p{
  position: relative;
  color: #B7B7B7;
  bottom: -2px;
  font-size: 11px;
  justify-content: flex-end;
}

.chat-message{
  margin-top: 14px;
  align-self: center;
}


.chat-par{
  margin-top: 3px;
  line-height: 17.6px;
  font-weight: 500;
  font-size: 13.2px;
  color: #B7B7B7;
  float: left;
  flex-wrap: wrap;
  align-self: stretch;
}

.chat-header{
  font-size: 19.8px;
  font-weight: 600;
  color: #696969;
}







/*Settings Layout*/

.setting-container{
  display: flex;
  width: 414px;
  margin: 0 auto;
}


.line{
  background-color:#C4C4C6;
  height:1px;
  padding-top:1px;
  margin-left:16px;
}

.setting-flex{
  flex: 1;
  flex-direction: column-reverse;
  overflow: hidden;
  width: 414px;
}

.setting-text{
  flex:1;
  align-items:center;
  flex-direction:row;
}


.setting-icon{
  top:2px;
  align-items:center;
  flex-direction:row;
}


.mobile-container{
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  overflow: scroll;
}

.mobile-container{
  border: solid 1px #f1f1f1;
  margin: 0 auto;
  width: 414px;
  height: 193spx;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.setting-stroke{
  width: 100%;
  height: 16px;
  background-color: #EFEEF6;
}

.setting-header{
  font-weight: bold;
  align-items: center;
  margin-top: 8px;
  margin-left: 16px;
  padding-bottom: 6px;
  height: 30px;
}

.setting-menu {
  display:flex;
  font-size: 13px;
  color: #888882;
  height: 44px;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  margin-left: 16px;
  margin-right: 12px;
}


/*Product Tour*/

.tour-image{
  display: flex;
  border: solid 1px #f1f1f1;
  margin: 0 auto;
  background-image: url(../assets/img/product-tour.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 414px;
  height: 876px;
}


.tour-text{
  margin-top: 320px;
  align-self: center;
}

.tour-text h1{    
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 8px;
}

.tour-title{
  font-size: 15px;
  color: #696969;
  letter-spacing: 1.5px;
  margin-bottom: 23px;
}


.tour-p{
  font-size: 13px;
  padding: 0px 31px;
  text-align: left;
  color: #B7B7B7;
}

.tour-circle{
  width: 85px;
  height: 85px;
  border: solid 5px #F7F7F7;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
}

.tour-close{
  width: 43px;
  height: 43px;
  display: inline;
  top: 61px;
  left: 170px;
  position: relative;
  z-index: 666;
}

.tour-logo{
  width: 34px;
  height: 25px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 5px;
}




.triangle {
  position: relative;
  background-color: #000000;
  text-align: left;
}
.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 0.8em;
  height: 0.8em;
  border-top-right-radius: 30%;
}

.triangle {
  top: 26px;
  left: 30px;
  transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}




/*Schedule*/




.schedule-image{
  display: flex;
  border: solid 1px #f1f1f1;
  margin: 0 auto;
  background-image: url(../assets/img/schedule.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 876px;
  height: 414px;
}


.box-1{
  float: left;
  width: 167px;
  height: 344px;
  margin-top: 34px;
}

.box-2{
  float: right;
  width: 705px;
}

.schedule-time{
  display: inline-block;
  position: relative;
  top: -7px;
}

.schedule-skill{
  position: relative;
  top: 32px;
}


.vertical-line{
  position: absolute;
  left: 159px;
  top: 379px;
  width: 344px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

.vertical-line-1{
  position: absolute;
  left: 265px;
  top: 379px;
  width: 344px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

.vertical-line-2{
  position: absolute;
  left: 363px;
  top: 379px;
  width: 344px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

.vertical-line-3{
  position: absolute;
  left: 460px;
  top: 379px;
  width: 344px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

.vertical-line-4{
  position: absolute;
  left: 559px;
  top: 379px;
  width: 344px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}
.vertical-line-5{
  position: absolute;
  left: 656px;
  top: 379px;
  width: 344px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}
.vertical-line-6{
  position: absolute;
  left: 753px;
  top: 379px;
  width: 344px;
  height: 1px;
  background-color: #696969;
  transform: rotate(-90deg);
  transform-origin: left top 0;
}

.schedule-heading{
  color: #B7B7B7;;
  font-size: 16px;
  color: white;
  font-weight: 600;
  position: relative;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  top: 248px;
  left: 31px;
}

.schedule-heading-2{
  font-size: 16px;
  color: white;
  font-weight: 600;
  position: relative;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  top: 313px;
  left: 62px;
  display: inline-block;
  width: 310px;
}

.schedule-circle > li{
  display: block;
  padding: 8px;
  font-weight: 600;
  width: 33px;
  height: 33px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-left: 112px;
  margin-bottom: 50px;
}



.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 1px 21px 0px 2px;
  padding: 0;
}

.Rtable-cell {
  margin: 3px 7px;
  height: 85px;
  width: 80px;
  color: white;
  margin: 3px;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border-radius: 11px;
  border: dashed 1px #696969;
  background: rgba(112, 128, 144, 0.2);
  font-size: 8px;
}

.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
  color: #B7B7B7;
}
/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
  color: white;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}
.Rtable--7cols > .Rtable-cell {
  margin: 3px 7px;
  height: 85px;
  width: 80px;
}

.cell-heading{
  color: #B7B7B7;
  height: 10px !important;
  background-color: transparent;
  border: none;
  font-size: 11px;
  font-weight: 500;
}


.orange-cell{
  background-color:#FF5709;
  border:none;
}

.purple-cell{
  background-color:#7F0FD3;
  border:none;  
}
.pink-cell{
  background-color:#FF0975;
  border:none;
}

.red-cell{
  background-color:#D80202;
  border:none;  
}

.gray-cell{
  background-color:#696969;
  border:none;  
}








